.app {
  margin: 5vh auto 0 auto;
  width: 90%;
}

#itemsContainer {
  width: 100%;
}

#itemsContainer .card {
  width: 100%;
  height: 75vh;
  overflow: scroll;
  text-align: center;
}

#itemsContainer div[class^="col-"] {
  cursor: pointer;
}

#itemsContainer img {
  height: 110px;
  width: 110px;
}

#receiptContainer {
  width: 90%;
}

#receiptContainer .card {
  width: 100%;
  height: 75vh;
  overflow: scroll;
}

#receiptContainer .card-body {
  padding: 0;
}

#receiptContainer .row {
  height: 3rem;
  margin: 0;
  background-color: #fff;
}

#receiptContainer .row#fixed {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  margin: 0;
  text-align: center;
  background-color: #ddd;
}

#receiptContainer .row.dark {
  height: 3rem;
  margin: 0;
  background-color: #ddd;
}

#receiptContainer i {
  cursor: pointer;
}
